img{
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color:  #a31d4f;
    border-color:  #a31d4f;
   
}

button:hover{
    background-color:  #a31d4f;
    border-color:  #a31d4f;
   
}


a{
    color: #f79c5b;
}
a:hover{
    color: #f79c5b;
}


